<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Avgust Varlamov's Resume</title>
    <meta name="description" content="Avgust Varlamov's Resume">
    <meta name="author" content="Август Варламов">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">

    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/46491960">

    <meta name="yandex-verification" content="d45ee501ad9de9ef" />

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PZXKVT8M');</script>
    <!-- End Google Tag Manager -->

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZXKVT8M" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">
        <header class="three columns">
            <img src="https://avatars.githubusercontent.com/u/46491960" class="me">
            <h1>Август Варламов</h1>
            <address>
                Санкт-Петербург, Россия
            </address>
            <p>
                <a href="tel:+79605317075">+7 960 531 70 75</a><br />
            </p>
            <p>
                <a href="mailto:varl.avgust@yandex.ru">varl.avgust@yandex.ru</a>
            </p>
            <p>
                <a href="https://github.com/vicebaraban">GitHub</a>
            </p>
        </header>
        <div class="thirteen columns clearfix">
            <section class="thirteen columns">
                <h1>Обо мне</h1>
                <article>
                    <header>
                        <h1>Привет! С самого детства я интересуюсь наукой и техникой. Я увлекаюсь авиамоделированием и
                            электроникой. Ещё мне очень нравятся компьютеры. Основными видами деятельности для меня
                            сейчас
                            являются учёба и программирование.</h1>
                    </header>
                </article>
                <article>
                    <header>
                        <h1>Мои навыки</h1>
                    </header>
                    <p>
                        Python, Aiogram, Selenium, Browser Automation Studio, SQL, Godot, C++, LLVM.
                    </p>
                </article>
                <article>
                    <header>
                        <h1>Мои качества</h1>
                    </header>
                    <p>
                        Добрый, честный, общительный, дружелюбный, легкий на подъём.
                    </p>
                </article>
            </section>
            <section class="thirteen columns">
                <h1>Образование</h1>
                <article>
                    <header>
                        <h1>Прикладная математика и информатика</h1>
                        <span><a href="https://spbu.ru/">СПбГУ</a></span>
                        <span>
                            <address>Санкт-Петербург, Россия</address><time>с 2022 по 2024</time>
                        </span>
                    </header>
                </article>
                <article>
                    <header>
                        <h1>Программная инженерия</h1>
                        <span><a href="https://spbu.ru/">СПбГУ</a></span>
                        <span>
                            <address>Санкт-Петербург, Россия</address><time>с 2024</time>
                        </span>
                    </header>
                </article>
            </section>
            <section class="six columns">
                <h1>Проекты</h1>
                <article>
                    <header>
                        <h1><a href="https://t.me/+qDQhUf-0s84zYjY6">QuantumTrader</a></h1>
                        <span><time>с 2023</time></span>
                    </header>
                    <p>
                        Главный разработчик платформы и соответствующего бота.
                    </p>
                </article>
                <article>
                    <header>
                        <h1><a href="https://github.com/spbu-coding-2023/graphs-graph-10">Graph analysis</a></h1>
                        <span><time>2024</time></span>
                    </header>
                    <p>
                        Участник команды в университете по написанию приложения для визуализации графов.
                    </p>
                </article>
                <article>
                    <header>
                        <h1>
                            Парсер интернет-магазина
                        </h1>
                        <span><time>2024</time></span>
                    </header>
                    <p>
                        Закрытое ПО. Программа для сбора и структурирования всей информации с сайта крупнейшего
                        интернет-магазина инструментов и промышленной техники.
                    </p>
                </article>
                <article>
                    <header>
                        <h1><a href="https://github.com/vicebaraban/sheldr">sheldr</a></h1>
                        <span><time>с 2024</time></span>
                    </header>
                    <p>
                        Работа над собственным 2D игровым движком.
                    </p>
                </article>
                <article>
                    <header>
                        <h1>
                            СМЕНА бот
                        </h1>
                        <span><time>2021</time></span>
                    </header>
                    <p>
                        Закрытое ПО. Бот для публикации новостей и регулирования, автоматизации социальных процессов в
                        <a href="https://смена.дети/">ВДЦ «Смена»</a>.
                    </p>
                </article>
                <article>
                    <header>
                        <h1><a href="https://github.com/vicebaraban/DungeonAdventure">DungeonAdventure Game</a></h1>
                        <span><time>2021-2024</time></span>
                    </header>
                    <p>
                        Создание 2D игры на python про подземелья, в 2024 году пересоздание игры <a
                            href="https://github.com/vicebaraban/DungeonAdventure-godot">DungeonAdventure (godot
                            version)</a> на игровом движке godot.
                    </p>
                </article>
            </section>
            <section class="six columns">
                <h1>Интересы</h1>
                <article>
                    <p>
                        Компьютерные игры, самолёты, кино, сериалы, театр, путешествия, еда.
                    </p>
                </article>
            </section>
            {% if is_auth %}
            <section class="six columns">
                <h1>
                    Рад видеть тебя,
                    <span style="color: black;">{{name}}</span>
                    <span style="color: black;">{{surname}}</span>
                </h1>
            </section>
            {% endif %}

            {% if not is_auth %}
            <div>
                <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
                <script type="text/javascript">
                    if ('VKIDSDK' in window) {
                        const VKID = window.VKIDSDK;

                        VKID.Config.init({
                            app: 52848711,
                            redirectUrl: 'https://vicebar.site',
                            responseMode: VKID.ConfigResponseMode.Callback,
                            source: VKID.ConfigSource.LOWCODE,
                            scope: '',
                        });

                        const oneTap = new VKID.OneTap();

                        oneTap.render({
                            container: document.currentScript.parentElement,
                            showAlternativeLogin: true,
                            oauthList: [
                                'ok_ru'
                            ]
                        })
                            .on(VKID.WidgetEvents.ERROR, vkidOnError)
                            .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function (payload) {
                                const code = payload.code;
                                const deviceId = payload.device_id;

                                VKID.Auth.exchangeCode(code, deviceId)
                                    .then(vkidOnSuccess)
                                    .catch(vkidOnError);
                            });

                        function vkidOnSuccess(data) {
                            console.log(data)
                            VKID.Auth.userInfo(data.access_token)
                                .then(data => {
                                    console.log(data)
                                    let user_data = {
                                        status: 'ok',
                                        name: `${data.user.first_name} ${data.user.last_name}`,
                                        username: ''
                                    }
                                    localStorage.setItem('user', JSON.stringify(user_data))
                                    fetch(`https://vicebar.site/vk_ok_auth`, {
                                        method: 'POST',
                                        body: JSON.stringify(user_data),
                                        headers: {
                                            "Content-Type": "application/json",
                                        },
                                    }).then(response => response.json())
                                        .then(data => {
                                            console.log(data)
                                            window.location.reload()
                                        })
                                })
                        }

                        function vkidOnError(error) {
                            // executor when error
                        }
                    }
                </script>
            </div>
            {% endif %}
        </div>

    </div>
</body>

</html>